[submodule "submodules/eigen"]
	path = submodules/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "submodules/xsimd"]
	path = submodules/xsimd
	url = https://github.com/xtensor-stack/xsimd.git
